<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="./src/css/main.css">
  <title>Login</title>
</head>
<body class="body-login">
  <div class="container">
    <form class="login m-auto">
      <div class="login-wrap d-flex justify-content-center align-items-center flex-column form-group">
        <h1 class="">Вход</h1>
        <div class="login-line mb-3"></div>
        <input type="email" placeholder="Логин" class="form-control form-input login-input mt-3 p-3">
        <input type="email" placeholder="Введите пароль" class="form-control form-input  email-input mt-3 mb-5 p-3">
        <button type="submit" class="btn btn-success mb-5">ВОЙТИ</button>
      </div>
    </form>
  </div>


</body>
</html>